*{
    
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}

body{
    min-height: 100vh;
    background: linear-gradient(
        180deg,
        hsl(0, 2%, 12%),
        white 200%    
    );
    background-repeat: no-repeat;
    color: white;
    font-family: sans-serif,Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.section {
    padding: 80px 20px;
    max-width: 1500px;
    height: auto;
    margin: auto;
}